<html lang="en">
    <link rel="stylesheet" type="text/css" href="../public/styles.css" />
    <body>
        <h1>index page</h1>
        <p>Welcome to the QAP3 FSDB</p>
        <%- include('./partials/navi.ejs') %>
    </body>
</html>