<!DOCTYPE html>
<html lang="en">
    <style>
        body{
   text-align: center;
   background-color: aqua;
}
     </style>
<body>
    <div>
        <form action="/books/<%= locals.theId %>?_method=PATCH" method="POST">
        <label>Edit Books:
        <input type="text" name="title" value="<%= locals.title %>" required>
        <input type="text" name="desc" value="<%= locals.desc %>" required>
    </label>
    <button>PATCH</button>
    </form>
    </div>
</body>
</html>