<!DOCTYPE html>
<html lang="en">
    <style>
        body{
   text-align: center;
   background-color: aqua;
}
     </style>
<body>
    <div>
        <form action="/books/<%= locals.theId %>?_method=PUT" method="POST">
            <label> Replace Title:
                <input type="text" name="title" value="<%= locals.title %>" required>
                <input type="text" name="desc" value="<%= locals.desc %>" required>
            </label>
            <button>PUT</button>
        </form>
    </div>
</body>
</html>